<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>

	@Scripts.Render("~/bundles/javascriptcommon")
	@Scripts.Render("~/bundles/googleclosure")
	@Scripts.Render("~/bundles/zlib")
	@Scripts.Render("~/bundles/sitelogic")

	@Styles.Render("~/bundles/styles")
</head>
<body>
	@RenderBody()
</body>
</html>
